h1, h2, li, h3, img {
    font-size: 100%;
  }
  li {
    margin: 2px 0;
  }
  body {
    font-family: sans-serif;
  }
  ul {
    text-align: center;
    list-style-type: none
  }
  .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
  }
  hr {
    background-color: pink;
    border-bottom: pink;
    height: 1px;
  }
  img {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.para {
  text-align: center;
  max-width: 500px;
  overflow-wrap: break-word;
  margin: 0 auto;
}
.space1 {
  margin-bottom: 0px;
}
.socials {
  padding-right: 35px;
}
.para2 {
  text-align: center;
}
.para3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}