
.div-body {
    text-align: center;
    overflow-wrap: break-word;
}
.profilepicture {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    margin-top: auto;
    margin-bottom: 15px;
    border: 5px solid rgb(97, 206, 115);
    background-color: black;
    border-radius: 20px;
    transition: 1s;
}
.profilepicture:hover {
    transform: rotate(180deg) scale(0.95);
}
.name {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    margin-top: auto;
    margin-bottom: 10px;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 3s;
}
.quote {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: auto;
    margin-bottom: 10px;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 3s;
}
.quote:hover {
    transform: matrix(0.6, 0.5, 0.5, 1.5, 60, 10);
}
.name:hover {
    transform: scale(0.45) rotate(180deg);
}
.home {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    margin-top: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 1s;
}
.home:hover {
    transform: rotate(1deg);
}
.pronouns {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    margin-top: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: transform 1s;
}
.pronouns:hover {
    transform: rotate(-10deg) scale(0.95);
}
.biography {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: transform 2s;
}
.biography:hover {
    transform: rotate(10deg);
}
.biography-full {
    margin-left: auto;
    margin-right: auto;
    resize: both;
    overflow: auto;
    width: 640px;
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.links {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    line-height: 0px;
    margin-top: 10px;
    margin-bottom: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 3s;
}
.links-full {
    margin-left: auto;
    margin-right: auto;
    resize: both;
    overflow: auto;
    width: 340px;
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    border: 5px solid rgb(97, 206, 115);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.links-spacing {
    margin-top: 15px;
}
.links:hover {
    transform: rotate(-25deg);
}
body {
    background-color: rgb(24, 3, 48);
    color:white
}
@media (max-width: 480px) {
    .home {
        width: 230px;
    }
    .profilepicture {
        width: 220px;
        margin-top: auto;
        
    }
    .biography {
        width: 150px;
    }
    .links {
        width: 150px;
    }
    .pronouns {
        width: 210px;
    }
}